<?xml version="1.0" encoding="UTF-8"?>
	<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
	<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.christianprocessingnetwork.testing-app"
	version = "1.0.0">	

    <name>testing app</name>
	
	<description>
          This is a facebook build app.
    </description>

    <author href="http://christianprocessingnetwork.com/app" email="merchantlane@gmail.com">
        Purelogics
    </author>
	
	 <content src="index.html" />
	 
	  <preference name="permissions" value="none"/>

	  <preference name="phonegap-version" value="3.5.0" /> <!-- all: current version of PhoneGap -->
<preference name="orientation" value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
<preference name="webviewbounce" value="true" /> 
<preference name="prerendered-icon" value="true" />
<preference name="stay-in-webview" value="false" />
<preference name="ios-statusbarstyle" value="black-opaque" />
<preference name="exit-on-suspend" value="false" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="disable-cursor" value="false" />
<preference name="android-minSdkVersion" value="7" /> <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->

	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	
	<access origin="*" />

</widget>